<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update task</title>
</head>
<body>
    <form method="POST">
    {% csrf_token %}

    <label>Name:</label>
    <input type="text" name="taskname" value="{{ a.taskname }}"><br><br>
    <label>Date:</label>
    <input type="date" name="taskdate"
           value="{{ a.taskdate|date:'Y-m-d' }}"><br><br>
    <button type="submit">Update</button>
</form>
</body>
</html>